/****************************************
* Transform
****************************************/
.transform-demo > div {
  height: 40px;
  background: salmon;
  width: 20%;
  margin: auto;
  display: inline-block;
  transform: translateX(10em);
}

/****************************************
* Transition
****************************************/

.transition-demo img {
  margin-bottom: .5em;
  width: 200px;
  height: 200px;
  filter: grayscale(100%);
  transition: filter 1s, transform 4s;
}

.transition-demo img:hover {
  filter: grayscale(0%);
  transform: rotate(360deg);
}

/****************************************
* Animation
****************************************/

.bar {
  border: 1px solid black;
  height: 50px;
  width: 500px;
  margin: auto;
  background-color: palegreen;
  animation-duration: 5s;
  animation-name: sale-bar;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

@keyframes sale-bar {
  0% { 
    background-color: lightgreen; 
    width: 450px; 
  }
  25%{
    width: 275px;
    opacity: 25%;
  }
  50% { 
    background-color: #FF033E;
    width: 125px; 
    opacity: 50%;
  }
  100% { 
    background-color: crimson; 
    width: 10px; 
    opacity: 100%;
  }
}
